modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "cloudrun"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PROXY_API_KEY = "12345678"
LB_SELF_URL = "https://82f8a250-b2a6-49a8-829f-daacdcc39e91-00-1evi164vzrtse.pike.replit.dev"

